@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.nav-wrapper {
  background-color: white;
  color: black;
}
.nav-items > span:hover {
  color: rgb(21 128 61 / 1);
}
.slider-card {
  /* background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
  /* background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); */
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.4rem;
  height: 14rem;
  flex-wrap: nowrap;
  background-color: green;
  border-radius: 1rem;
  overflow: hidden;
}
.slick-arrow {
  z-index: 1;
}
.slick-arrow.slick-next {
  right: 2%;
}
.slick-arrow.slick-prev {
  left: 2%;
}
.categories-container {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.menuList {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.menuList-card {
  min-width: 260px;
  max-width: 260px;
  max-height: 270px;
  min-height: 270px;
}

@media screen and (max-width: 768px) {
  .footer-items {
    display: grid;
    padding: 0 1rem;
    grid-template-areas:
      "section1 section1 "
      "section2 section3"
      "section4 section4";
  }
  .footer-sec-1 {
    grid-area: section1;
    align-items: center;
  }
  .footer-sec-2 {
    grid-area: section2;
  }
  .footer-sec-3 {
    grid-area: section3;
  }
  .footer-sec-4 {
    grid-area: section4;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .nav-items > span:hover {
    color: black;
  }
  .slick-slide > div {
    margin: 0 0.3rem;
  }
  .slick-arrow.slick-next {
    right: 1%;
  }
  .slick-arrow.slick-prev {
    left: 1%;
  }
}
